<div id="<%= dom_id stock_movement %>">
  <p>
    <strong>Movement date:</strong>
    <%= stock_movement.movement_date %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= stock_movement.reason %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= stock_movement.name_item %>
  </p>

</div>
