<% content_for :title, "Editing stock movement" %>

<h1>Editing stock movement</h1>

<%= render "form", stock_movement: @stock_movement %>

<br>

<div>
  <%= link_to "Show this stock movement", @stock_movement %> |
  <%= link_to "Back to stock movements", stock_movements_path %>
</div>
