<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<div class="fundo">
  <div class="overlay">
    <div class="welcome-container">
      <h1 class="title">Bem-vindo ao Melory Music</h1>
      <p class="subtitle">Seu gerenciamento de estoque musical em um só lugar.</p>
      
      <div class="actions">
        <%= link_to dashboard_path, class: "btn-enter" do %>
          Acessar Painel <span>&rarr;</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="rodape">
    <h3>Melory Music</h3>
    <p>Todos os direitos reservados &copy; 2026</p>
</div>