<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Oswald:wght@700&display=swap');
  .fundo {
    background-color: #000;
    background-image: url('https://i.pinimg.com/736x/17/81/58/178158a8fab5cc973a187d69638d0652.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Deixa o fundo parado ao rolar */
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.8); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome-container {
    text-align: center;
    color: white;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(28, 2, 2, 0.3);
  }

  .title {
    color: #950e0e;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0px #00000064, 
                 0px 0px 20px rgba(99, 7, 7, 0.67);
    
    line-height: 1.1;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
    opacity: 0.8;
  }

  .btn-enter {
    background-color: #630b0b; 
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: transform 0.3s, background 0.3s;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(28, 2, 2, 0.3);
  }

  .btn-enter:hover {
    background-color: #5e0101;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(108, 6, 6, 0.3);
  }

  .rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
    opacity: 0.8;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    opacity: 0.6;
  }
</style>

<div class="fundo">
  <div class="overlay">
    <div class="welcome-container">
      <h1 class="title">Bem-vindo ao Melory Music</h1>
      <p class="subtitle">Seu gerenciamento de estoque musical em um só lugar.</p>
      
      <div class="actions">
        <%= link_to dashboard_path, class: "btn-enter" do %>
          Acessar Painel <span>&rarr;</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="rodape">
    <h3>Melory Music</h3>
    <p>Todos os direitos reservados &copy; 2026</p>
</div>