<div class="card shadow-sm mx-auto" style="max-width: 500px;">
  <div class="card-body p-4 text-center">
    
    <%= render @item %>

    <hr class="my-4">

    <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
      
      <%= link_to edit_item_path(@item), class: "btn btn-sm btn-warning" do %>
        <i class="bi bi-pencil"></i> Editar este item
      <% end %>

      <%= link_to items_path, class: "btn btn-sm btn-secondary" do %>
        <i class="bi bi-arrow-left"></i> Voltar para itens
      <% end %>

      <%= button_to @item, method: :delete, 
          form: { data: { turbo_confirm: "Tem certeza?" }, class: "d-inline-block" }, 
          class: "btn btn-sm btn-danger" do %>
        <i class="bi bi-trash"></i> Excluir item
      <% end %>
    </div> 
  </div> 
</div>