#sidebar a, 
#sidebar .nav-link, 
#sidebar .sidebar-text,
#sidebar strong,
#sidebar h5 {
    color: #ffffff !important; /* Branco puro ou use #ced4da para o cinza claro */
    text-decoration: none !important; /* Remove o sublinhado que o Bootstrap as vezes coloca */
}

#sidebar {
    width: 280px !important;
    min-height: 103vh !important;
    height: 100% !important;
    background-color: #000006 !important;
    color: white !important;
    overflow-x: hidden;
    white-space: nowrap;
    position: sticky;
    top: 0;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
    display: flex !important;
    flex-direction: column !important;
}

#sidebar .nav-link:hover, 
#sidebar .active-link {
    color: #ffffff !important;
    background-color: #3a3a8a !important;
}

#sidebar .sidebar-text, #sidebar h5, #sidebar strong {
    color: white !important;
    transition: opacity 0.2s !important;
}

#sidebar-check:checked + #sidebar {
    width: 100px !important; 
}

#sidebar-check:checked + #sidebar .sidebar-header {
    padding: 20px 0 !important; 
    justify-content: center !important;
}

#sidebar-check:checked + #sidebar .sidebar-text,
#sidebar-check:checked + #sidebar hr,
#sidebar-check:checked + #sidebar .small {
    display: none !important;
}

#sidebar-check:checked + #sidebar .nav-link {
    justify-content: center !important;
    margin: 10px 0 !important; 
    padding: 15px 0 !important;
}

#sidebar-check:checked + #sidebar .nav-link i {
    margin-right: 0 !important;
    font-size: 1.3rem !important; 
}