<% content_for :title, "New brand" %>

<h1>Nova Marca</h1>

<%= render "form", brand: @brand %>

<br>

<div class="mt-0">
  <%= link_to "Voltar para marcas", brands_path, class: "btn btn-secondary" %>
</div>