<div id="<%= dom_id category %>">
  <p>
    <strong>Name category:</strong>
    <%= category.name_category %>
  </p>

  <p>
    <strong>Quantity category:</strong>
    <%= category.quantity_category %>
  </p>

</div>
