<% content_for :title, "New category" %>

<h1>Nova categoria</h1>

<%= render "form", category: @category %>

<br>

<div class="mt-0">
  <%= link_to "Voltar para categoras", categories_path, class: "btn btn-secondary" %>
</div>
