<div class="card shadow-sm mx-auto" style="max-width: 500px;">
  <div class="card-body p-4 text-center">
    <%= render @category %>

    <hr class="my-4">

  <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center"> 
  <%= link_to edit_category_path(@category), class: "btn btn-sm btn-warning" do %>
      <i class="bi bi-pencil"></i> Editar esta categoria
  <% end %>
  <%= link_to categories_path, class: "btn btn-sm btn-secondary" do %>
    <i class="bi bi-arrow-left"></i> Voltar para categorias
  <% end %>

  <%= button_to @category, method: :delete, 
      form: { data: { turbo_confirm: "Tem certeza?" }, class: "d-inline-block" }, 
      class: "btn btn-danger" do %>
      <i class="bi bi-trash"></i> Excluir categoria
  <% end %>
</div> 
</div>
</div>